<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome <%= currentUser.household %></h1>
    <a href="http://localhost:3000/">Back</a>

    <a href="/chores/new">Add a Chore</a>
    <% for(let i = 0; i < currentUser.chores.length; i++){ %>
    <p><%= currentUser.chores[i].name %></p>
    <p><%= currentUser.chores[i].assigned %></p>
    <% } %>
  </body>
</html>
