<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>New Chores</h1>
    <a href="/chores">Back</a>
    <form action="/chores" method="POST">
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="assigned" placeholder="Assigned To" />
      <input type="submit" value="Create Chore" />
    </form>
  </body>
</html>
