<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/show.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <h1><%= chore.name %></h1>
    <a href="/chores">back</a>
    <a href="/chores/edit/user1chores/<%= chore._id %>">edit</a>
    <form
      action="/chores/delete/user1chores/<%= chore._id %>?_method=DELETE"
      method="POST"
    >
      <input type="submit" value="delete" />
    </form>
  </body>
</html>
