body {
  background: rgba(207, 214, 227, 0.8);
  font-family: "Roboto", sans-serif;
}
.users {
  display: flex;
  width: 800px;
  justify-content: space-evenly;
  border: 1px solid orange;
  margin: 0 auto;
  margin-top: 100px;
}

.user1 {
  border: 1px solid purple;
  text-align: center;
}
.user2 {
  border: 1px solid red;
}
li {
  list-style: none;
}
