body {
  margin: none;
  padding: none;
  background: url("../img/couple.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* font-family: "Raleway", sans-serif; */
  font-family: "Roboto", sans-serif;
}

.layer {
  /* background: rgba(16, 152, 247, 0.7); */
  background: rgba(207, 214, 227, 0.7);
  height: 100vh;
}
a {
  /* color: rgb(48, 102, 190); */
  color: rgb(57, 58, 93);
  font-size: 25px;
}
nav {
  /* border: 1px solid purple; */
  width: 520px;
  float: right;
  margin-top: 50px;
  margin-right: 20px;
}
.us {
  color: rgb(150, 52, 132);
}
a:hover {
  /* color: rgb(96, 175, 255); */
  /* color: black; */
  color: rgb(150, 52, 132);
}
header {
  /* border: 1px solid orange; */
  width: 650px;
  height: 200px;
  margin-top: 200px;
  text-align: center;
  margin-left: 25%;

  position: fixed;
}
p {
  font-size: 30px;
  /* color: rgb(150, 52, 132); */
  /* color: rgb(150, 52, 132); */
  /* color: rgb(42, 245, 255); */
  /* color: rgb(139, 232, 203); */
  color: rgb(57, 58, 93);
  /* color: rgb(16, 152, 247); */
  /* font-family: "Nunito", sans-serif; */
  /* font-family: "Lora", serif; */
  font-weight: bold;
}
h1 {
  font-size: 125px;
  font-weight: bold;
  color: white;
}

#logout {
  background: none;
  border: none;
  color: rgb(57, 58, 93);
  font-size: 25px;
}
#logout:hover {
  color: rgb(150, 52, 132);
}
footer {
  width: 100%;
  height: 100px;
  background: rgba(57, 58, 93, 0.7);
  bottom: 0;
  left: 0;
  position: fixed;
}
