body {
  background: rgb(213, 232, 228);
  color: rgb(79, 141, 125);
}
a {
  color: rgb(79, 141, 125);
}
.container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
h1 {
  font-size: 60px;
  font-family: "Raleway", sans-serif;
}
.nav {
  margin-top: 20px;
}
