body {
  /* background: rgb(139, 232, 203); */
  background: rgba(207, 214, 227, 0.8);
  font-family: "Roboto", sans-serif;
}

.login {
  /* border: 1px solid red; */
  background: white;
  display: flex;
  width: 800px;
  height: 400px;
  margin: 0 auto;
  margin-top: 150px;
}

.us {
  color: rgb(150, 52, 132);
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
h2 {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}
.form {
  width: 400px;
}
#submit {
  background: rgb(57, 58, 93);
  color: white;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 150px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
#submit:hover {
  cursor: pointer;
  background: white;
  color: rgb(57, 58, 93);
}
.picture {
  background-image: url("/img/greycouple.jpg");
  background-repeat: no-repeat;

  background-size: 400px;
  height: 500px;
  width: 400px;
}
.input-container {
  border: 1px solid rgb(211, 211, 211);
  color: rgb(211, 211, 211);
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 100px;
}

.input-field {
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
